SwingML.dtd

<!--
   SwingML
   Copyright (C) 2002 CrossLogic Corporation.
 
   This library is free software; you can redistribute it and/or
   modify it under the terms of the GNU Lesser General Public
   License as published by the Free Software Foundation; either
   version 2 of the License, or (at your option) any later version.
 
   This library is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
   Library General Public License for more details.
  
   You should have received a copy of the GNU Library General Public
   License along with this library; if not, write to the
   Free Software Foundation, Inc., 59 Temple Place - Suite 330,
   Boston, MA 02111-1307, USA.
 
   
-->

<!ELEMENT PANEL 
    (
 		PANEL|
 		MENUBAR|
		LABEL|
		TEXTFIELD|
		BUTTON|
		TABBEDPANE|
		TREE|
		TABLE|
		INTERNALFRAME|
		COMBOBOX|
		CHECKBOX|
		RADIOBUTTON|
		BUTTONGROUP|
		TOOLBAR|
		LIST|
		TEXTAREA|
		PASSWORDTEXT|
		EDITORPANE|
		SPLITPANE|
		GRIDBAG-PANEL|
		DEBUG|
		DATA-STORE|
		PROPERTIES|
		SLIDER|
		DESKTOPPANE|
		OPTIONPANE|
		LISTENER|
		FORMATTEDTEXTFIELD|
		TREE_TABLE_BROWSER|
		TABLEBROWSER|
		SCROLLPANE
	)*
>
<!ATTLIST PANEL
	NAME		ID                              		  #REQUIRED
	COLLAPSABLE (True|False)							  #IMPLIED
	LAYOUT      (BorderLayout|FlowLayout|GridLayout|None) #IMPLIED
	BORDER      (EtchedBorder|BevelBorder)      		  #IMPLIED
	LAF         (Metal|Windows|Motif|External)			  #IMPLIED
	EXT-LAF		CDATA									  #IMPLIED
	BEVELTYPE   (Raised|Lowered)			  		      #IMPLIED
	ORIENTATION (North|South|Center|East|West)  		  #IMPLIED
	TEXT        CDATA                                     #IMPLIED
	ROWS        CDATA                                     #IMPLIED
	COLS        CDATA                                     #IMPLIED	
	TOOLTIP     CDATA                                     #IMPLIED	
	TITLE       CDATA                                     #IMPLIED
	WINDOWTITLE	CDATA									  #IMPLIED
>

<!ELEMENT DESKTOPPANE (INTERNALFRAME)*>
<!ATTLIST DESKTOPPANE
	NAME		ID											#REQUIRED
	LAYOUT		(BorderLayout|FlowLayout|GridLayout|None)	#IMPLIED
	BORDER		(EtchedBorder|BevelBorder)					#IMPLIED
	LAF			(Metal|Windows|Motif|External)				#IMPLIED
	EXT-LAF		CDATA										#IMPLIED
	BEVELTYPE	(Raised|Lowered)							#IMPLIED
	ORIENTATION	(North|South|Center|East|West)				#IMPLIED
	TEXT		CDATA										#IMPLIED
	ROWS		CDATA										#IMPLIED
	COLS		CDATA										#IMPLIED	
	TOOLTIP		CDATA										#IMPLIED	
	TITLE		CDATA										#IMPLIED
>

<!ELEMENT SCROLLPANE (TABLE)>
<!ATTLIST SCROLLPANE
	NAME		ID						#REQUIRED
>


<!ELEMENT MENUBAR (MENU)+>
<!ATTLIST MENUBAR
	NAME		ID						#REQUIRED
	ORIENTATION (North|South|East|West)	#REQUIRED
>

<!ELEMENT MENU (MENU|MENUITEM|SEPARATOR)*>
<!ATTLIST MENU
	NAME		ID		#REQUIRED
	TEXT		CDATA	#REQUIRED
	MNEMONIC	CDATA	#IMPLIED
	TOOLTIP		CDATA	#IMPLIED
>

<!ELEMENT MENUITEM (LISTENER)*>
<!ATTLIST MENUITEM
	NAME		ID		#REQUIRED
	TEXT		CDATA	#REQUIRED
	MNEMONIC	CDATA	#IMPLIED
	TOOLTIP		CDATA	#IMPLIED
	ICON		CDATA	#IMPLIED
>

<!ELEMENT SEPARATOR EMPTY>
<!ATTLIST SEPARATOR
	NAME	ID	#REQUIRED
>

<!ELEMENT LABEL EMPTY>
<!ATTLIST LABEL
	NAME		ID																	#REQUIRED
	TEXT		CDATA																#REQUIRED 
	ORIENTATION	(North|South|Center|East|West)										#IMPLIED
	TOOLTIP		CDATA																#IMPLIED	
	ALIGN		(Left|Center|Right)													#IMPLIED	
    FOREGROUND	(Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED 
    BACKGROUND	(Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED  
    FONT		CDATA																#IMPLIED 
    FONT-SIZE	CDATA																#IMPLIED 
    FONT-STYLE	(BOLD|ITALIC|PLAIN|BOLDITALIC)										#IMPLIED 
    ICON		CDATA																#IMPLIED    		
    WRAP-TEXT	(TRUE|FALSE)		#IMPLIED
>

<!ELEMENT TEXTFIELD (LISTENER)*>
<!ATTLIST TEXTFIELD
	NAME		ID																	#REQUIRED
	TEXT		CDATA																#REQUIRED 
	COLS		CDATA																#REQUIRED 
	AUTO-SELECT	(True|False)														#IMPLIED
	ORIENTATION	(North|South|Center|East|West)										#IMPLIED
	TOOLTIP		CDATA																#IMPLIED	
	ENABLED		(True|False)														#IMPLIED
    EDITABLE	(True|False)														#IMPLIED 
    VISIBLE		(True|False)														#IMPLIED			
    BACKGROUND	(Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED       		
    FOREGROUND	(Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED       		
    RETURNBUTTON	CDATA			#IMPLIED
>

<!ELEMENT FORMATTEDTEXTFIELD (LISTENER)*>
<!ATTLIST FORMATTEDTEXTFIELD
	NAME			ID																	#REQUIRED
	TEXT			CDATA																#REQUIRED 
	COLS			CDATA																#REQUIRED 
	FORMATTER		CDATA																#REQUIRED
	PATTERN			CDATA																#REQUIRED
	NULLABLE		CDATA																#IMPLIED
	NULLPATTERN		CDATA																#IMPLIED
	PLACEHOLDER		CDATA																#IMPLIED
	PLACEHOLDCHAR	CDATA																#IMPLIED
	OVERWRITE		CDATA																#IMPLIED
	ORIENTATION		(North|South|Center|East|West)										#IMPLIED
	TOOLTIP			CDATA																#IMPLIED	
	ENABLED			(True|False)														#IMPLIED
    EDITABLE		(True|False)														#IMPLIED 
    BACKGROUND		(Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED       		
    FOREGROUND		(Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED       		
    RETURNBUTTON	CDATA			#IMPLIED
>

<!ELEMENT TEXTAREA (TEXT+,LISTENER*)>
<!ATTLIST TEXTAREA
	NAME		ID																	#REQUIRED
	COLS		CDATA																#REQUIRED 
    ROWS		CDATA																#REQUIRED
    EDITABLE	(True|False)														#IMPLIED
	ORIENTATION	(North|South|Center|East|West)										#IMPLIED
	TOOLTIP		CDATA																#IMPLIED		
	LINE-WRAP	(True|False)														#IMPLIED
	WORD-WRAP	(True|False)														#IMPLIED
    BACKGROUND  (Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED       		
    FOREGROUND  (Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED       		
>

<!ELEMENT PASSWORDTEXT (LISTENER)*>
<!ATTLIST PASSWORDTEXT
	NAME        ID								#REQUIRED
	TEXT        CDATA							#REQUIRED 
	COLS     	CDATA							#REQUIRED 
	ORIENTATION (North|South|Center|East|West)	#IMPLIED
	TOOLTIP		CDATA							#IMPLIED		
>

<!ELEMENT EDITORPANE EMPTY>
<!ATTLIST EDITORPANE
	NAME		ID								#REQUIRED
    PAGE		CDATA							#REQUIRED
	ORIENTATION	(North|South|Center|East|West)	#IMPLIED
	TOOLTIP		CDATA							#IMPLIED	
	EDITABLE	(True|False)					#IMPLIED	
>

<!ELEMENT BUTTON (LISTENER)*>
<!ATTLIST BUTTON
	NAME		ID								#REQUIRED
	TEXT		CDATA							#REQUIRED 
	ORIENTATION	(North|South|Center|East|West)	#IMPLIED	
	TOOLTIP		CDATA							#IMPLIED		
    ENABLED		(True|False)					#IMPLIED        	
	ICON		CDATA							#IMPLIED
    VISIBLE		(True|False)					#IMPLIED			
>

<!ELEMENT SLIDER (LISTENER)*>
<!ATTLIST SLIDER
	NAME		ID								#REQUIRED
	MINIMUM		CDATA							#REQUIRED
	MAXIMUM		CDATA							#REQUIRED
	VALUE		CDATA							#REQUIRED
	TYPE		(Horizontal|Vertical)			#REQUIRED
	ORIENTATION	(North|South|Center|East|West)	#IMPLIED	
	TOOLTIP		CDATA							#IMPLIED		
	ENABLED		(True|False)					#IMPLIED
>

<!ELEMENT TOOLBAR (BUTTON)+>
<!ATTLIST TOOLBAR
	NAME		ID								#REQUIRED  
	ORIENTATION	(North|South|Center|East|West)	#REQUIRED	
	TOOLTIP		CDATA							#IMPLIED		
>

<!ELEMENT TABBEDPANE (PANEL|LISTENER)*>
<!ATTLIST TABBEDPANE
	NAME		ID								#REQUIRED
	ORIENTATION (North|South|Center|East|West)	#IMPLIED
	TOOLTIP		CDATA							#IMPLIED		
	CURRENT		CDATA							#IMPLIED		
>

<!ELEMENT TREE (TREE|NODE|LISTENER)*>
<!ATTLIST TREE
	NAME		ID								#REQUIRED
	TEXT		CDATA							#REQUIRED
	ORIENTATION (North|South|Center|East|West)	#IMPLIED
	DNDENABLED  (True|False)					#IMPLIED
	VALUE		CDATA							#IMPLIED
	OPEN-ICON	CDATA							#IMPLIED
	CLOSED-ICON	CDATA							#IMPLIED
	LEAF-ICON	CDATA							#IMPLIED
>

<!ELEMENT NODE EMPTY>
<!ATTLIST NODE
	TEXT	CDATA	#REQUIRED 
	VALUE	CDATA	#IMPLIED
>

<!ELEMENT TABLE (TC|TR|LISTENER)*>
<!ATTLIST TABLE
	NAME		ID								#REQUIRED
	ORIENTATION (North|South|Center|East|West)	#IMPLIED
	TOOLTIP		CDATA							#IMPLIED		
	POST-STYLE	(Post-Selected|Post-All)		#IMPLIED
	POST-COLUMN	CDATA							#IMPLIED
	MODE		(Single|Multiple)				#IMPLIED
	HEIGHT		CDATA							#IMPLIED
	WIDTH		CDATA							#IMPLIED
>

<!ELEMENT TC (COMBOBOX|FORMATTEDTEXTFIELD)*>
<!ATTLIST TC
	TEXT		CDATA							#REQUIRED
	TYPE		(String|Boolean|Combo|Color)	#IMPLIED    
	ITEMS		CDATA							#IMPLIED     
	WIDTH		CDATA				            #IMPLIED
	HIDDEN  	(True|False)		            #IMPLIED
	POSITION	CDATA							#IMPLIED	     
>

<!ELEMENT TR (TD)+>
<!ATTLIST TR
	VALUE	CDATA	#IMPLIED
>

<!ELEMENT TD (ICON)*>
<!ATTLIST TD
	VALUE		CDATA							#IMPLIED 
	TEXT		CDATA							#IMPLIED
	TOOLTIP		CDATA							#IMPLIED  
    EDITABLE	(True|False)					#IMPLIED    
    FONT		CDATA							#IMPLIED 
    FONT-SIZE	CDATA							#IMPLIED 
    FONT-STYLE	(BOLD|ITALIC|PLAIN|BOLDITALIC)	#IMPLIED 
    ICON		CDATA							#IMPLIED 
    BACKGROUND  (Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED       		
    FOREGROUND  (Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED
>

<!ELEMENT INTERNALFRAME
    (
 		PANEL|
 		MENUBAR|
		LABEL|
		TEXTFIELD|
		BUTTON|
		TABBEDPANE|
		TREE|
		TABLE|
		COMBOBOX|
		CHECKBOX|
		RADIOBUTTON|
		BUTTONGROUP|
		TOOLBAR|		
		LIST|
		TEXTAREA|
		PASSWORDTEXT|		
		EDITORPANE|		
		SPLITPANE|
		GRIDBAG-PANEL|
		DEBUG|
		SLIDER|
		DESKTOPPANE|
		LISTENER|
		FORMATTEDTEXTFIELD|
		TREE_TABLE_BROWSER|
		TABLEBROWSER		
	)*
>
<!ATTLIST INTERNALFRAME
	NAME        ID                              		  #REQUIRED
	WIDTH       CDATA 						     		  #REQUIRED
	HEIGHT      CDATA              		  				  #REQUIRED
	LAYOUT      (BorderLayout|FlowLayout|GridLayout|None) #REQUIRED	
	TEXT        CDATA                                     #IMPLIED	
	ROWS        CDATA                                     #IMPLIED
	COLS        CDATA                                     #IMPLIED	
	TOOLTIP     CDATA                                     #IMPLIED		
    LOCATION    CDATA                                     #IMPLIED		
	RESIZABLE   (True|False)                              #IMPLIED
	ICONIFIABLE (True|False)                              #IMPLIED
	MAXIMIZABLE (True|False)                              #IMPLIED
	CLOSABLE    (True|False)                              #IMPLIED
>

<!ELEMENT COMBOBOX (ITEM+,LISTENER*)>
<!ATTLIST COMBOBOX
	NAME        ID                              		  #REQUIRED
	ORIENTATION (North|South|Center|East|West)  		  #IMPLIED	
	TOOLTIP     CDATA                                     #IMPLIED		
	EDITABLE	(True|False)							  #IMPLIED
	ENABLED		(True|False)							  #IMPLIED
>

<!ELEMENT LIST (ITEM*,LISTENER*)>
<!ATTLIST LIST
	NAME        ID                              		  #REQUIRED
	MODE        (Single|Multiple)						  #IMPLIED
	ORIENTATION (North|South|Center|East|West)  		  #IMPLIED
	TOOLTIP     CDATA                                     #IMPLIED			
	POST-STYLE  (Post-Selected|Post-All)				  #IMPLIED
	DNDENABLED  (True|False)							  #IMPLIED	
	VISIBLE_ROW_COUNT 		CDATA		#IMPLIED
>

<!ELEMENT CHECKBOX (LISTENER*)>
<!ATTLIST CHECKBOX
	NAME        ID                              		  #REQUIRED
	TEXT        CDATA                                     #REQUIRED
	CHECKED     (True|False)                              #IMPLIED
	ORIENTATION (North|South|Center|East|West)  		  #IMPLIED
	ENABLED     (True|False)							  #IMPLIED
	ALIGN       (Left|Center|Right)                       #IMPLIED	
	TOOLTIP     CDATA                                     #IMPLIED		
    FONT-STYLE	(BOLD|ITALIC|PLAIN|BOLDITALIC)										#IMPLIED 
>

<!ELEMENT RADIOBUTTON (LISTENER*)>
<!ATTLIST RADIOBUTTON
	NAME        ID                              		  #REQUIRED
	TEXT        CDATA                                     #REQUIRED
	CHECKED     (True|False)                              #IMPLIED
	ENABLED     (True|False)                              #IMPLIED
	ORIENTATION (North|South|Center|East|West)  		  #IMPLIED
	ALIGN       (Left|Center|Right)                       #IMPLIED	
	TOOLTIP     CDATA                                     #IMPLIED		
    FONT				CDATA													#IMPLIED 
    FONT-SIZE		CDATA													#IMPLIED 
    FONT-STYLE		(BOLD|ITALIC|PLAIN|BOLDITALIC)				#IMPLIED 
>

<!ELEMENT BUTTONGROUP (RADIOBUTTON|CHECKBOX)*>
<!ATTLIST BUTTONGROUP
	NAME        ID                              		  #REQUIRED
	LAYOUT      (BorderLayout|FlowLayout|GridLayout|None) #IMPLIED
	BORDER      (EtchedBorder|BevelBorder)      		  #IMPLIED
	BEVELTYPE   (Raised|Lowered)			  		      #IMPLIED
	ORIENTATION (North|South|Center|East|West)  		  #IMPLIED
	TEXT        CDATA                                     #IMPLIED
	ROWS        CDATA                                     #IMPLIED
	COLS        CDATA                                     #IMPLIED	
	TOOLTIP     CDATA                                     #IMPLIED	
>

<!ELEMENT ITEM EMPTY>
<!ATTLIST ITEM
	TEXT        CDATA                             		  #REQUIRED
	SELECTED    (True|False)                       		  #IMPLIED 
	VALUE		CDATA									  #IMPLIED
>

<!ELEMENT LISTENER (ACTION|EXTERNAL-ACTION|OPTIONPANE|CONTROLLER-ACTION)+>
<!ATTLIST LISTENER
    EVENT 
    (
		ActionListener.actionPerformed|
		ActionListener.actionPerformed.yes|
		ActionListener.actionPerformed.no|
		ActionListener.actionPerformed.cancel|
		ActionListener.actionPerformed.cellValueChanged|
	    ChangeListener.stateChanged|
	    ComponentListener.componentRendered|
		DocumentListener.insertUpdate|
		DocumentListener.changedUpdate|
		DocumentListener.removeUpdate|
		FocusListener.focusGained|
		FocusListener.focusLost|
		KeyListener.keyReleased|
		ListSelectionListener.valueChanged|
		TreeSelectionListener.valueChanged|
		ItemListener.itemStateChanged|
		ItemListener.itemStateChanged.selected|
		ItemListener.itemStateChanged.deselected|
		ItemListener.itemStateChanged.noneSelected|
	    MouseListener.doubleClicked|
	    MouseListener.singleClicked|
	    TabListener.stateChanged|
		TreeExpansionListener.treeCollapsed|
		TreeExpansionListener.treeExpanded|
		TreeExpansionListener.treeWillCollapse|
		TreeExpansionListener.treeWillExpand|
		WindowListener.windowActivated|
		WindowListener.windowClosed|
		WindowListener.windowClosing|
		WindowListener.windowDeactivated|
		WindowListener.windowDeiconified|
		WindowListener.windowIconified|
		WindowListener.windowOpened
	)
    #REQUIRED        
>

<!ELEMENT ACTION EMPTY>
<!ATTLIST ACTION
	COMPONENT    CDATA                             		  #REQUIRED
	METHOD       CDATA									  #REQUIRED 
	TYPES        CDATA  		                          #IMPLIED
	VALUES       CDATA									  #IMPLIED	
>

<!ELEMENT CONTROLLER-ACTION (ACTION-PARAM)+>
<!ATTLIST CONTROLLER-ACTION
	COMPONENT    CDATA                             		  #REQUIRED
	URL          CDATA									  #REQUIRED 
	OPERATION    (Refresh|Norender|Open)                  #IMPLIED
>



<!ELEMENT EXTERNAL-ACTION (ACTION-PARAM)+>
<!ATTLIST EXTERNAL-ACTION
	COMPONENT			        CDATA					  #REQUIRED
	EXTERNAL-CLASS		        CDATA					  #REQUIRED
	EXTERNAL-FACTORY-CLASS		CDATA			          #IMPLIED							  
>
<!ELEMENT ACTION-PARAM ANY>
<!ATTLIST ACTION-PARAM
	NAME		CDATA									  #REQUIRED
	VALUE		CDATA									  #IMPLIED
	ID			CDATA									  #IMPLIED
>

<!ELEMENT DIALOG 
    (
 		PANEL|
 		MENUBAR|
		LABEL|
		TEXTFIELD|
		BUTTON|
		TABBEDPANE|
		TREE|
		TABLE|
		INTERNALFRAME|
		COMBOBOX|
		CHECKBOX|
		RADIOBUTTON|
		BUTTONGROUP|	
		TOOLBAR|	
		LIST|
		TEXTAREA|
		PASSWORDTEXT|		
		EDITORPANE|		
		SPLITPANE|
		GRIDBAG-PANEL|
		DEBUG|
		SLIDER|
		DESKTOPPANE|
		LISTENER|
		FORMATTEDTEXTFIELD|
		TREE_TABLE_BROWSER|
		TABLEBROWSER
	)*
>
<!ATTLIST DIALOG
	NAME        ID                              		  #REQUIRED
	WIDTH       CDATA                                     #REQUIRED
	HEIGHT      CDATA                                     #REQUIRED	
	LAYOUT      (BorderLayout|FlowLayout|GridLayout|None) #IMPLIED
	TEXT        CDATA                                     #IMPLIED
	ROWS        CDATA                                     #IMPLIED
	COLS        CDATA                                     #IMPLIED	
	MODAL       (True|False)                              #IMPLIED
	STATUSBAR	(True|False)							#IMPLIED
>

<!ELEMENT FRAME 
    (
 		PANEL|
 		MENUBAR|
		LABEL|
		TEXTFIELD|
		BUTTON|
		TABBEDPANE|
		TREE|
		TABLE|
		INTERNALFRAME|
		COMBOBOX|
		CHECKBOX|
		RADIOBUTTON|
		BUTTONGROUP|	
		TOOLBAR|	
		LIST|
		TEXTAREA|
		PASSWORDTEXT|		
		EDITORPANE|		
		SPLITPANE|
		GRIDBAG-PANEL|
		DEBUG|
		SLIDER|
		DESKTOPPANE|
		LISTENER|
		FORMATTEDTEXTFIELD|
		TREE_TABLE_BROWSER|
		TABLEBROWSER	
	)*
>
<!ATTLIST FRAME
	NAME        ID                              		  #REQUIRED
	WIDTH       CDATA                                     #REQUIRED
	HEIGHT      CDATA                                     #REQUIRED	
	LAYOUT      (BorderLayout|FlowLayout|GridLayout|None) #IMPLIED
	TEXT        CDATA                                     #IMPLIED
	ROWS        CDATA                                     #IMPLIED
	COLS        CDATA                                     #IMPLIED	
	XOPEN       CDATA                                     #IMPLIED	
	YOPEN       CDATA                                     #IMPLIED	
	MAXIMUM     (True|False)							  #IMPLIED
>

<!ELEMENT SPLITPANE (SPLITPANE|PANEL|GRIDBAG-PANEL)+>
<!ATTLIST SPLITPANE
	NAME         ID                             		  #REQUIRED
	SIZE         CDATA									  #REQUIRED 
	LOCATION     CDATA									  #REQUIRED	
	TYPE         (Vertical|Horizontal)                    #REQUIRED
	EXPANDABLE   (True|False)						      #IMPLIED
	ORIENTATION  (North|South|Center|East|West)  		  #IMPLIED
	TOOLTIP      CDATA                                    #IMPLIED		
	SCROLLBARS	 (True|False)							  #IMPLIED
>

<!ELEMENT OPTIONPANE (LISTENER|ACTION)*>
<!ATTLIST OPTIONPANE
	NAME		 ID										  #REQUIRED
	TYPE         (Confirm|Input|Message)                  #REQUIRED
	TEXT         CDATA									  #REQUIRED 
    COMPONENT    CDATA                                    #IMPLIED
>

<!ELEMENT GRIDBAG-PANEL 
    (
    	GRIDBAG-ROW
	)*
>
<!ATTLIST GRIDBAG-PANEL
	NAME        ID                              		  #REQUIRED
	BORDER      (EtchedBorder|BevelBorder)      		  #IMPLIED
	BEVELTYPE   (Raised|Lowered)			  		      #IMPLIED
	ORIENTATION (North|South|Center|East|West)  		  #IMPLIED
	TEXT        CDATA                                     #IMPLIED
	PADDING		CDATA									  #IMPLIED
	IPADX		CDATA									  #IMPLIED
	IPADY		CDATA									  #IMPLIED
	FILL		(None|Horizontal|Vertical|Both)			  #IMPLIED
	ANCHOR		(North|South|Center|East|West|
				NorthWest|NorthEast|SouthEast|SouthWest)  #IMPLIED
	WEIGHTX		CDATA									  #IMPLIED
	WEIGHTY		CDATA									  #IMPLIED
	GRIDHEIGHT	CDATA									  #IMPLIED
	GRIDWIDTH	CDATA									  #IMPLIED
	TITLE       CDATA                                     #IMPLIED
>

<!ELEMENT GRIDBAG-ROW
	(
		GRIDBAG-CELL
	)*
>
<!ATTLIST GRIDBAG-ROW
	NAME		ID										  #IMPLIED
	PADDING		CDATA									  #IMPLIED
	IPADX		CDATA									  #IMPLIED
	IPADY		CDATA									  #IMPLIED
	FILL		(None|Horizontal|Vertical|Both)			  #IMPLIED
	ANCHOR		(North|South|Center|East|West|
				NorthWest|NorthEast|SouthEast|SouthWest)  #IMPLIED
	WEIGHTX		CDATA									  #IMPLIED
	WEIGHTY		CDATA									  #IMPLIED
	GRIDHEIGHT	CDATA									  #IMPLIED
	GRIDWIDTH	CDATA									  #IMPLIED
>

<!ELEMENT GRIDBAG-CELL
	(
 		PANEL|
		LABEL|
		TEXTFIELD|
		BUTTON|
		TABBEDPANE|
		TREE|
		TABLE|
		COMBOBOX|
		CHECKBOX|
		RADIOBUTTON|
		LIST|
		TEXTAREA|
		PASSWORDTEXT|		
		SPLITPANE|
		GRIDBAG-PANEL|
		DEBUG|
		SLIDER|
		DESKTOPPANE|
		TREE_TABLE_BROWSER|
		TABLEBROWSER|
		LISTENER|
		FORMATTEDTEXTFIELD|
		DATA-STORE
	)+
>
<!ATTLIST GRIDBAG-CELL
	NAME		ID										  #IMPLIED
	PADDING		CDATA									  #IMPLIED
	IPADX		CDATA									  #IMPLIED
	IPADY		CDATA									  #IMPLIED
	FILL		(None|Horizontal|Vertical|Both)			  #IMPLIED
	ANCHOR		(North|South|Center|East|West|
				NorthWest|NorthEast|SouthEast|SouthWest)  #IMPLIED
	WEIGHTX		CDATA									  #IMPLIED
	WEIGHTY		CDATA									  #IMPLIED
	GRIDHEIGHT	CDATA									  #IMPLIED
	GRIDWIDTH	CDATA									  #IMPLIED
>

<!ELEMENT DEBUG (TEXT+)>

<!ELEMENT TEXT ANY>

<!ELEMENT DATA-STORE ANY>
<!ATTLIST DATA-STORE
	NAME	ID	#REQUIRED
>

<!ELEMENT PROPERTIES (PROPERTY-ENTRY+)>
<!ELEMENT PROPERTY-ENTRY EMPTY>
<!ATTLIST PROPERTY-ENTRY
	NAME	CDATA	#REQUIRED
	VALUE	CDATA	#REQUIRED
>

<!ELEMENT ERRORHANDLER (PARAMETER)*>
<!ATTLIST ERRORHANDLER
	NAME					ID					#REQUIRED
	TYPE					CDATA				#REQUIRED
>

<!ELEMENT PARAMETER EMPTY>
<!ATTLIST PARAMETER
	NAME					ID					#REQUIRED
	VALUE					CDATA				#REQUIRED
>

<!ELEMENT TABLEBROWSER (TBC|TBR|LISTENER|ERRORHANDLER)*>
<!ATTLIST TABLEBROWSER
	NAME									ID																					#REQUIRED
	AUTO-FIT								(True|False)																	#IMPLIED
	SELECTION-STYLE					(Cell-Single|Cell-Multiple|Row-Single|Row-Multiple)		#IMPLIED
	CELL-MANAGER-CLASS 			CDATA																			#IMPLIED
	ORIENTATION 						(North|South|Center|East|West)									#IMPLIED
	ROW-HEADER						(True|False)																	#IMPLIED
	TOOLTIP								CDATA																			#IMPLIED
	POST-STYLE							(Post-Selected|Post-All)												#IMPLIED
	POST-COLUMN						CDATA																			#IMPLIED
	MODE									(Single|Multiple)															#IMPLIED
	WIDTH									CDATA																			#IMPLIED
	HEIGHT									CDATA																			#IMPLIED
	POST-COLUMN-STATE 			(True|False)																	#IMPLIED
>

<!ELEMENT TBC (COMBOBOX|FORMATTEDTEXTFIELD)*>
<!ATTLIST TBC
	TEXT				CDATA						#REQUIRED
	ALIGN			(Left|Center|Right)	#IMPLIED
	TYPE				CDATA						#IMPLIED    
	ITEMS			CDATA						#IMPLIED 
	SORT			CDATA						#IMPLIED
	SORTABLE		CDATA						#IMPLIED
	WIDTH			CDATA						#IMPLIED
	HIDDEN  		(True|False)				#IMPLIED
	POSITION   	CDATA						#IMPLIED
>

<!ELEMENT TBR (TBD)+>
<!ATTLIST TBR
	VALUE	CDATA	#IMPLIED 
>

<!ELEMENT TBD (ICON)*>
<!ATTLIST TBD
	NAME		CDATA							#IMPLIED
	VALUE		CDATA							#IMPLIED 
	TEXT		CDATA							#IMPLIED
	ALIGN		(Left|Center|Right)				#IMPLIED
	TOOLTIP		CDATA							#IMPLIED
    EDITABLE	(True|False)					#IMPLIED  
    FONT		CDATA							#IMPLIED 
    FONT-SIZE	CDATA							#IMPLIED 
    FONT-STYLE	(BOLD|ITALIC|PLAIN|BOLDITALIC)	#IMPLIED 
    ICON		CDATA							#IMPLIED 
    START-EDIT	(True|False)					#IMPLIED 
    BACKGROUND  (Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED       		
    FOREGROUND  (Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED     			
>

<!ELEMENT TREE_TABLE_COLUMN EMPTY>
<!ATTLIST TREE_TABLE_COLUMN
	TEXT	CDATA	#IMPLIED
>

<!ELEMENT TREE_TABLE_TREE (TREE_TABLE_DATA|TREE_TABLE_NODE|TREE_TABLE_TREE)*>
<!ATTLIST TREE_TABLE_TREE
	NAME	ID	#REQUIRED
>

<!ELEMENT TREE_TABLE_DATA EMPTY>
<!ATTLIST TREE_TABLE_DATA
	TEXT		CDATA							#IMPLIED
	FONT		CDATA							#IMPLIED 
    FONT-SIZE	CDATA							#IMPLIED 
    FONT-STYLE	(BOLD|ITALIC|PLAIN|BOLDITALIC)	#IMPLIED 
    ICON		CDATA							#IMPLIED
    BACKGROUND  (Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED       		
    FOREGROUND  (Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED 
>

<!ELEMENT TREE_TABLE_NODE (TREE_TABLE_DATA)*>

<!ELEMENT TREE_TABLE_BROWSER (TREE_TABLE_BROWSER_COLUMN|TREE_TABLE_BROWSER_TREE)*>
<!ATTLIST TREE_TABLE_BROWSER
	NAME		ID								#REQUIRED
	TEXT		CDATA							#IMPLIED
	ORIENTATION (North|South|Center|East|West)	#IMPLIED
	POST-STYLE	(Post-Selected|Post-All)		#IMPLIED
	WIDTH					CDATA				#IMPLIED
	HEIGHT					CDATA				#IMPLIED
>

<!ELEMENT TREE_TABLE_BROWSER_COLUMN (COMBOBOX|FORMATTEDTEXTFIELD)*>
<!ATTLIST TREE_TABLE_BROWSER_COLUMN
	TEXT		CDATA	#IMPLIED
	TYPE		CDATA	#IMPLIED
	SORT		CDATA	#IMPLIED
	SORTABLE	CDATA	#IMPLIED
	WIDTH		CDATA	#IMPLIED
	POSITION	CDATA	#IMPLIED
>

<!ELEMENT TREE_TABLE_BROWSER_TREE (TREE_TABLE_BROWSER_DATA|TREE_TABLE_BROWSER_NODE|TREE_TABLE_BROWSER_TREE)*>
<!ATTLIST TREE_TABLE_BROWSER_TREE
	NAME	CDATA	#REQUIRED
	POST-STYLE	(Post-Selected|Post-All)	#IMPLIED
	OPEN-ICON	CDATA	#IMPLIED
	CLOSED-ICON	CDATA	#IMPLIED
	LEAF-ICON	CDATA	#IMPLIED
>

<!ELEMENT TREE_TABLE_BROWSER_DATA (ICON)*>
<!ATTLIST TREE_TABLE_BROWSER_DATA
	NAME	CDATA	#IMPLIED
	TEXT	CDATA	#IMPLIED
    EDITABLE (TRUE|FALSE)   #IMPLIED
    TOOLTIP CDATA	#IMPLIED
    FONT		CDATA							#IMPLIED 
    FONT-SIZE	CDATA							#IMPLIED 
    FONT-STYLE	(BOLD|ITALIC|PLAIN|BOLDITALIC)	#IMPLIED 
    ICON		CDATA							#IMPLIED
    BACKGROUND  (Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED       		
    FOREGROUND  (Black|Blue|Cyan|Gray|Green|Magenta|Orange|Pink|Red|White|Yellow)	#IMPLIED   
>

<!ELEMENT TREE_TABLE_BROWSER_NODE (TREE_TABLE_BROWSER_DATA)*>
<!ATTLIST TREE_TABLE_BROWSER_NODE
	NAME	CDATA	#IMPLIED
>

<!ELEMENT REMOTE_ACTION_RESULT (ERROR|NO-OP|UPDATE)*>

<!ELEMENT ERROR EMPTY>
<!ELEMENT NO-OP EMPTY>
<!ELEMENT UPDATE EMPTY>
<!ATTLIST UPDATE
	ROWID	CDATA	#REQUIRED
	COLID	CDATA	#IMPLIED    
	VALUE	CDATA	#IMPLIED 
>
<!ELEMENT PERFORM EMPTY>
<!ATTLIST PERFORM
	COMPONENT   CDATA	#REQUIRED
	METHOD	    CDATA	#REQUIRED
	TYPE 	    CDATA	#REQUIRED
	VALUE	    CDATA	#REQUIRED
>
<!ELEMENT ICON (LISTENER)*>
<!ATTLIST ICON
	LOCATION	CDATA	#IMPLIED
	TEXT		CDATA	#IMPLIED
	TOOLTIP		CDATA	#IMPLIED
>